$primary-color: #4D64AA
$secondary-color: rgb(225, 225, 225)
$main-font-size: 16px
$radio-button-color: rgb(140, 145, 150)

$main-text-style: normal 16px Roboto, serif
$answer-text-style: normal 15px Roboto, serif
$header-text-style: normal bold 36px Roboto, serif

@mixin main-input()
  border: none
  font-size: $main-font-size
  border-bottom: solid 1px $secondary-color
  outline: none
  font: $main-text-style

@mixin custom-scroll-bar()
  &::-webkit-scrollbar
    width: 6px

  &::-webkit-scrollbar-track
    width: 6px

  &::-webkit-scrollbar-thumb
    background-color: #A5B6C5
    border-radius: 8px
    &:hover
      background-color: #7D99B0

@mixin radio-style($color)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  border: 1px solid $color
  position: relative

html
  height: 100%
  width: 100%
  body
    height: 100%
    width: 100%
    margin: 0